@model WebAPIplusEF.v_System_User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>v_System_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SYSTEM_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYSTEM_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRENT_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENT_USER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
